# 'product' changed with cp210x-cfg from "CP2102N USB to UART Bridge Controller"
# https://github.com/irrwisch1/cp210x-cfg

KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{product}=="wESP32 IRControl", ATTRS{serial}=="12381c4ba69ae81189caaf7479b6371b", SYMLINK+="ttyIRControl"
